body{
    background-color: #e3f2fd;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
	width: 100%;
	margin: auto;
	height: 100%;

}

html {
    font-family: 'Montserrat', sans-serif;
}

#mobile_body{

    background-color:  #1565c0;
}

#mobile_body h1{

    text-align: center;
    color: white;
    margin-top: 10%;
}

#coming_body{

    background: url('font/font_comingsoon.jpg');
    background-repeat: no-repeat;
}

#coming_body h1{

    text-align: center;
    color: white;
    margin: auto;
    margin-top: 15%;
}

#first_nav{

    background-color:  #1565c0;
}

#second_nav{

    background-color: #1e88e5;

}

.second_nav_content li{

    font-size: 17px;
}


#main{
    margin-top: 60px;
    margin-bottom: 60px;
    flex: 1 0 auto;
}

#home{
    margin-top: 60px;
    margin-bottom: 60px;
    flex: 1 0 auto;
    
}

#myaccount{
    margin-top: 60px;
    margin-bottom: 60px;
    flex: 1 0 auto;
}

section{
    text-align: left;
}

.left li a{
    font-size: 15px;
}

.slides h3{
    color: black;
}

.slides h5{
    color: black;
}

#banshop{
    text-align: center;
}

.linkbanshop{
    margin-bottom: 20px;
    
}

#loginblock{
    margin: auto; 
    width: 50%; 
    margin-top: 50px;
}

#sectionterms{
    margin: 0 auto;
    width: 75%;
    left: 50%;
}

#sectionterms h6{
    font-weight: bold;
}

#avatar{
    text-align:center;
}

.head_title{
    text-align:center;
    font-weight:bold;
    margin-bottom:60px;
}

#input_account{
    width: 50%;
    margin: auto;
    margin-top: 70px;
}

#user-interface-info{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.nav-button-style li{
    margin-right: 20px;
    margin-left: 20px;
}

